@media screen and (min-width: 768px){
    .left_block{
        width: 40%;
        height: auto;
        margin-top: 5%;
        float: left;
        top: 20%;
        display: inline;
        border-radius: 0 30% 30% 0;
        border-style:inset;
        border-width: 5px;
        border-color:#98bf21;
        background-image: linear-gradient(#D1F2EB, #FCF3CF);
    }
    .my_button{
        background-color: transparent;
        border-radius: 10% 10% 10% 10%;
        border-width:1px;
        border-color: #98bf21;
    }
    .h_block{
        display:block;
        display:none;
    }
    .right_block{
        width: 50%;
        height: auto;
        margin-top: 5%;
        top: 20%;
        float: right;
        display: inline;
    }

    .base_body{
        background-image: url('../images/university.jpg');
    }

    .red_link{
        color: #2E4053;
        border-bottom: 0px;
        font-size: 20px;
    }

    p{
        font-family:"Times New Roman", Times, serif;
    }

    .teacher_welcome{
        font-weight:bold;
    }

    .link_img{
        height: 100px;
    }

    .table_div{
        position:absolute;
        left:20%;
        top:20%;
    }
}

@media screen and (max-width: 768px){
    *{
        merge: 0;
        padding: 0;
    }
    body, html{
      height:100%;
    }
    .main{
        height:100%;
    }
    .left_block{
        width: 70%;
        min-height: 70%;
        margin-top: 10%;
        margin-left: 15%;
        margin-right: 15%;
        float: left;
        top: 20%;
        display: inline;
        border-radius: 10% 10% 10% 10%;
        border-style:inset;
        border-width: 5px;
        border-color:#98bf21;
        background-image: linear-gradient(#D1F2EB, #FCF3CF);
    }
    .right_block{
        display:block;
        display:none;
    }
    .hidden_block{
        display:block;
        display:none;
    }
    .my_button{
        background-color: transparent;
        border-radius: 10% 10% 10% 10%;
        border-width:1px;
        border-color: #98bf21;
    }
    .mobile_icon{
        height: 100px;
        width: 100px;
        margin: 0 auto;
    }
    .center{
        text-align: center;
    }
}