{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    create_attendance
{% endblock %}


{% block body_block %}
{% if not finish %}
<h1>This is attendance creation page</h1>
    <div>
        <form id="class_form" method="post" action="{% url 'rango:create_attendance' %}">
            {% csrf_token %}
            {% csrf_token %}
            {% for hidden in class_form.hidden_fields %}
            {{ hidden }}
            {% endfor %}
            {% for field in class_form.visible_fields %}
                {{ field.help_text }}
                {{ field }}
                <br><br>
            {% endfor %}
            <input type="submit" name="submit" value="Create Attendance" />
        </form>
    </div>
Submit this form to generate class attendance.
{% else %}
<h1 class="center_one"> Your ClassID is {{cid}}</h1><br>
<h5> Now your students can use this ClassID to sign in!</h5><br>
<h3><a href="{% url 'rango:teacher_home' %}">Return to teacher home</a></h3>
{% endif %}
{% endblock %}