{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    check_overall
{% endblock %}

<!--
    This is the check_overall attendance page. Basically, it will create a table to show all attendance information
    created by this teacher.
    <th> represents table head and <td> represents table contents.
-->
{% block main_block %}
<div class="table_div">
    <h1>Here to check the overall attendance conditions</h1>
    <p value="100"></p>
    <table class="table table-hover table-dark">
        <tr>
            <th>classID</th>
            <th>courseID</th>
            <th>date</th>
            <th>num of present students</th>
            <th>who take the course</th>
            <th>Class Size</th>
            <th>Attendance Rates</th>
        </tr>
        <!--classes is a context_dict from views.py represents all classes entities created by this teacher-->
        {% for c in classes %}
        <tr>
            <td>{{ c.classID }}</td>
            <td>{{ c.courseID }}</td>
            <td>{{ c.Date }}</td>
            <td>{{ c.numOfStudents }}</td>
            <td>{{ c.belongingClass }}</td>
            {% if c.belongingClass == 'class1' %}
                <td>{{ numOfClassOne }}</td>
            <!--This is a Django function for division, it means c.numOfstudents/c.numOfClassOne * 100%-->
                <td>{% widthratio c.numOfStudents numOfClassOne 100%}%</td>
            {% endif %}
            {% if c.belongingClass == 'class2' %}
                <td>{{ numOfClassTwo }}</td>
                <td>{% widthratio c.numOfStudents numOfClassTwo 100%}%</td>
            {% endif %}
            {% if c.belongingClass == 'class3' %}
                <td>{{ numOfClassThree }}</td>
                <td>{% widthratio c.numOfStudents numOfClassThree 100%}%</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    <h3><a class="red_link" href="{% url 'rango:check_attendance' %}">
        Check Who is Missing
    </a></h3>
    <h3><a class="red_link" href="{% url 'rango:teacher_home' %}" >Back to teacher home</a></h3>
</div>

{% endblock %}

{% block carousel_block %}
{% endblock %}