{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    index
{% endblock %}


{% block body_block %}
{% if user.is_authenticated %}
<div class="container">
    <h3 class="sansserif teacher_welcome"> Teacher {{user.username}} welcome back! </h3>
    <a class="red_link" href="{% url 'rango:create_attendance' %}">
        <img style="height: 150px" src="{% static 'images/dianming.jpg' %}" alt="roll call">
        Create Class Attendance
    </a><br>
    <a class="red_link" href="{% url 'rango:overall_attendance' %}">
        <img style="height: 150px" src="{% static 'images/overall_attendance.jpg' %}" alt="roll call">
        Overall Attendance Condition
    </a><br>
    <a class="red_link" href="{% url 'rango:check_attendance' %}">
        <img style="height: 150px" src="{% static 'images/absent_students.jpg' %}" alt="roll call">
        Check Who is Missing
    </a><br>
</div>
{% endif %}
{% endblock %}